<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">KKMLSFINS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="events" routerLinkActive="active">Events</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="announcements" routerLinkActive="active">Announcements</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="attendance" routerLinkActive="active">Attendance</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="homecell" routerLinkActive="active">Homecell</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="tithes" routerLinkActive="active">Tithes</a></li>
                
                @if (user !== undefined) {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Admin
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a class="nav-link" routerLink="admin/members" routerLinkActive="active">Members</a></li>
                            @if (isAdmin === true) {
                                <li><hr class="dropdown-divider"></li>
                                <li class="dropdown-item"><a class="nav-link" routerLink="admin/register" routerLinkActive="active">Register</a></li>
                            }
                        </ul>
                    </li>
                }
            </ul>
            <div class="d-flex">
                @if (user === undefined) {
                    <a routerLink="login" class="btn btn-primary">Log in</a>
                } @else {
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{user.email}}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li class="dropdown-item"><a class="nav-link" role="button">Update Profile</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="dropdown-item"><a class="nav-link" role="button" (click)="onLogout()">Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
</nav>